.cart-container {
  padding: 40px 60px;
  background-color: var(--card-bg);
  min-height: 100vh;
}

.cart-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
   background-color: var(--card-bg);
  padding: 20px 25px;
  border-radius: 12px;
  margin-bottom: 25px;
  transition: 0.3s ease;
}

.cart-row:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.cart-img {
  width: 90px;
  height: 90px;
  object-fit: contain;
}

.cart-details {
  flex: 1;
  margin-left: 25px;
}

.cart-details h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.cart-price {
  font-weight: 500;
  margin: 6px 0 12px;
  color: var(--text-color);
}

.cart-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.qty-box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.qty-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid #ccc;
   background-color: var(--card-bg);
  font-size: 14px;
  cursor: pointer;
  transition: 0.2s ease;
}

.qty-btn:hover {
  background: #e0e0e0;
}

.qty-box span {
  min-width: 18px;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
}

.delete-btn {
  background: #ff4d4d;
  border: none;
  margin-top: 15px;
  padding: 8px 12px;
  border-radius: 18px;
  color: var(--text-color);
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}

.delete-btn:hover {
  background: #e60000;
  transform: translateY(-2px);
}

.order-btn{
  background: #e1ad12;
  border: none;
  margin: 15px;
  padding: 8px 12px;
  border-radius: 18px;
  color: rgb(0, 0, 0);
  font-size: 12px;
  cursor: pointer;
  transition: 0.3s ease;
}
.order-btn :hover{
  background: #d28c09;
  transform: translateY(-2px);
}

.cart-right {
  font-weight: 600;
  font-size: 16px;
  color: #222;
}

.cart-total {
  text-align: right;
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
  padding-right: 10px;
}

@media (max-width: 768px) {
  .cart-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .cart-right {
    align-self: flex-end;
  }

  .cart-total {
    text-align: left;
  }
}