.home {
  width: 100%;
   background-color: var(--card-bg);
}

.hero {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
  color: var(--text-color);
  max-width: 400px;
}

.hero-text h1 {
  font-size: 42px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 18px;
  margin-bottom: 15px;
}

.hero-text button {
  padding: 10px 20px;
  background-color: #ff9900;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.category-section {
  padding: 40px 60px;
}

.category-section h2 {
  margin-bottom: 20px;
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.category-card {
   background-color: var(--card-bg);
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.category-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.category-card h3 {
  padding: 15px;
  text-align: center;
}

.category-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.info-strip {
  background: #232f3e;
  color: var(--text-color);
  display: flex;
  justify-content: space-around;
  padding: 30px 10px;
  text-align: center;
}

.info-strip h3 {
  margin-bottom: 5px;
}
