.navbar-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding:none;
  align-items: center;
  position:sticky;
  top:0;
  left:0;
  right: 0;
  width:100%;
   z-index: 4000; 

}
.nav-element-container{
  display:flex;
  align-items: center;
  gap:20px;
  justify-content: center;
}
.nav-element-container a{
  text-decoration: none;
  font-size: 19px;
}
.nav-element-container button{
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  color: blueviolet;
}
.hamb {
  display:none;
}
@media (max-width:996px){
  .nav-element-container {
   display:none;
   flex-direction:column;
   justify-content:end;
   top:50px;
   position: absolute;
   padding:10px;
   right: 5;

  }
  .nav-element-container.open {
    display: flex;

  }
  .hamb{
    display: block;
  }
}
.navbar-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding:10px;
  align-items: center;
  position:fixed;
  top:0;
  left:0;
  width:100%;
   z-index: 4000; 

}
.nav-element-container{
  display:flex;
  align-items: center;
  gap:20px;
  justify-content: center;
}
.nav-element-container a{
  text-decoration: none;
}
.nav-element-container button{
  border: transparent;
  background-color: transparent;
  cursor: pointer;
  color: blueviolet;
  font-size: 15px;
}
.hamb {
  display:none;
}
@media (max-width:996px){
  .nav-element-container {
   display:none;
   flex-direction:column;
   justify-content: center;
   top:50px;
   position: absolute;
   padding:10px;
   left:0;
   right:0;

  }
  .nav-element-container.open {
    display: flex;

  }
  .hamb{
    display: block;
  }
}