html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
}
/* LIGHT THEME */
body.light {
  background-color: #f4f6f9;
  color: #111;
}

/* DARK THEME */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Smooth transition */
body {
  transition: all 0.3s ease;
}

/* Example adjustments */
body.dark .navbar-container {
  background-color: #1f1f1f;
}

body.dark .profile-card,
body.dark .product-card {
  background-color: #1e1e1e;
  color: white;
}

.theme-btn {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #0095f6;
  color: white;
  margin-left: 15px;
}