/* ================= GLOBAL THEME ================= */

body.light {
  --bg-color: #f5f5f5;
  --text-color: #111;
  --card-bg: #ffffff;
  --nav-bg: #ffffff;
}

body.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --card-bg: #1e1e1e;
  --nav-bg: #1f1f1f;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background 0.3s ease, color 0.3s ease;
  font-family: 'Segoe UI', sans-serif;
}